<style type="text/css">
	.panel{
		background: rgba(255, 255, 255, 0.8);
		box-shadow: rgba(0, 0, 0, 0.3) 20px 20px 20px;
		margin-top: 50px;
	}
</style>
<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Dashboard</h1>
        </div>
    </div>
    <div class="row">
    	<% include panels.ejs %>
    	<div class="container-fluid">
				<div class="container-page">		
					<div class="col-md-5">
						<div class="panel panel-default">
        					<div class="panel-heading">
        						<h3 class="panel-title">Export</h3>
        					</div>
        					<div class="panel-body">
	        					<ul class="list-group">
	        						<li class="list-group-item">
		        						<div class="tools">
		        							<div style="width:135px">
		        								Export specific event
		        								<center><a id="export_specific_event"><span class="glyphicon glyphicon-cloud-download" style="font-size:40px;"></span></a></center>
		        							</div>
		        						</div>
	        						</li>
	        						<li class="list-group-item">
		        						<div class="tools">
		        							<div style="width:100px">
		        								<div>Export all event</div>
		        								<center><a id="export_all_event"><span class="glyphicon glyphicon-cloud-download" style="font-size:40px;"></span></a></center>
		        							</div>
		        						</div>
	        						</li>
	        					</ul>
        					</div>
        				</div>
					</div>
					<div class="col-md-7">
						<h3 class="dark-grey">Localisation..</h3>
						<div id="map" style="width:910px;height:500px;"></div>
					</div>
				</div>
		</div>
    </div>
</div>
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js"></script>
<script src="/js/jquery.js"></script>
<script src="/js/jszip.js"></script>
<script type="text/javascript">
	$( "#export_all_event" ).click(function() {
		function exportToCsv(data) { 
			var dataToCsv="";

		    for (var i=0; i<data['header'].length; i++) {
		    	dataToCsv += data['header'][i]+data['delimiter'];
		    }

		    dataToCsv += "\n";

		    for (var j=0; j<data['events'].length; j++) {
		    	for (var k=0; k<data['header'].length; k++) {
		    		if (data['header'][k] == "place") {
						dataToCsv += data['events'][j][data['header'][k]].replace(";", "/")+data['delimiter'];
		    		} else {
		    			dataToCsv += data['events'][j][data['header'][k]]+data['delimiter'];
		    		}
			    }
			    dataToCsv += "\n";
		    }
			return dataToCsv;
		}

	    $.ajax({
            type: 'POST',
            url: '/admin/export/allEvents',
       		success : function(data){ 
       			var zip = new JSZip();
       			var events = zip.folder(data['exportName']);
       			events.add("events."+data['fileType'], exportToCsv(data));
				content = zip.generate();
				location.href="data:application/zip;base64,"+content;
       		}
        });
	});

	function initMap() {
	  	var troyes = {lat: 48.2973451, lng: 4.0744009};

		map = new google.maps.Map(document.getElementById('map'), {
		    zoom: 8,
		    center: troyes,
		    mapTypeId: google.maps.MapTypeId.TERRAIN
		});
	}

	google.maps.event.addDomListener(window, 'load', initMap);
</script>