<ul class="nav navbar-nav">
	<li class="dropdown mega-dropdown">
		<a href="#" id="id_create_event_tab" class="dropdown-toggle" data-toggle="dropdown">Notifications <b class="caret"></b></a>
		
		<ul class="dropdown-menu mega-dropdown-menu row">
			<li class="col-sm-12">
                <form class="form" role="form">
					<div class="container-fluid">
					    <section class="container">
							<div class="container-page">				
								<div class="col-md-12">
									<h3 class="dropdown-header">Notifications</h3>
									<% include ../notification/layout.ejs %>
								</div>
							</div>
						</section>
					</div>
                </form>  
			</li>
		</ul>
	</li>
</ul>