<ul class="nav navbar-nav">
	<li class="dropdown mega-dropdown">
		<% if ( numberNotifications ) { %>
			<a href="#" id="id_notification_tab" class="dropdown-toggle" data-toggle="dropdown">Notifications <span id="navbartop_number_notifications" class="badge"><%- numberNotifications %></span><b class="caret"></b></a>
		<%} else {%>
			<a href="#" id="id_notification_tab" class="dropdown-toggle" data-toggle="dropdown">Notifications <span id="navbartop_number_notifications" class="badge">0</span><b class="caret"></b></a>
		<%}%>		
		<ul class="dropdown-menu mega-dropdown-menu row">
			<li class="col-sm-12">
            	<form action="notification/create" method="post" role="form">
					<div class="container-fluid">
					    <section class="container">
							<div class="container-page">				
								<div class="col-md-12">
									<h3 class="dropdown-header">Notifications</h3>
									<% include ../notification/layout.ejs %>
								</div>
							</div>
						</section>
					</div>
                </form>  
			</li>
		</ul>
	</li>
</ul>