<link rel="stylesheet" type="text/css" href="/styles/jquery.datetimepicker.css"/>
<link rel="stylesheet" type="text/css" href="/styles/material-switch.css"/>
<link rel="stylesheet" type="text/css" href="/styles/badge.css">
<ul class="nav navbar-nav">
	<li class="dropdown mega-dropdown">
		<a href="#" id="id_create_alert_tab" class="dropdown-toggle" data-toggle="dropdown">Alerter un incident <b class="caret"></b></a>
		
		<ul class="dropdown-menu mega-dropdown-menu row">
			<li class="col-sm-12">
                <form class="form" action="alert/create" method="post" role="form">
					<div class="container-fluid">
					    <section class="container">
							<div class="container-page">				
								<div class="col-md-6">
									<%- partial('../flash-message-panel.ejs') %>
									<h3 class="dropdown-header">Alerter un incident</h3>

									<div class="container panel_event">
										<div class="row">

											<div class="col-md-5">
												<div class="offer offer-radius offer-primary">
													<div class="shape">
														<div class="shape-text">
															Event								
														</div>
													</div>
													<div id="event_content" class="offer-content">
									  					<table class="table table-user-information">
									  						<tr><td>Veuillez sélectionner un événement..</td></tr>
									  					</table>
													</div>
												</div>
											</div>
										</div>
									</div>
									
									<div class="form-group col-lg-12" hidden>
										<label>Event</label>
										<input id="event" type="text" name="event" class="form-control" id="" value="">
									</div>
									
									<div class="form-group col-lg-12">
										<label>Type</label>
										<select id="type" name="type" class="form-control"/>
										</select>
									</div>
													
									<div class="form-group col-lg-12">
										<label>Details</label>
										<input type="text" name="details" class="form-control" id="" value="">
									</div>
									<div class="form-group col-lg-12">
										<label style="margin-left: 30px">Rester en anonyme..</label>
										<div class="material-switch pull-left">
				                            <input type="checkbox" name="isAnonymous"  id="isAnonymous"/>
				                            <label for="isAnonymous" class="label-primary"></label>
				                        </div>
				                    </div>
								</div>
							
								<div class="col-md-6">
									<h3 class="dark-grey">Localisation..</h3>

									<div id="map" style="width:460px;height:270px;"></div>
									<center style="margin-top:20px"><button type="submit" class="btn btn-primary">Valider <span class="glyphicon glyphicon-thumbs-up"></button></center>
								</div>
							</div>
						</section>
					</div>
                </form>  
			</li>
		</ul>
	</li>
</ul>
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js"></script>
<script src="/js/jquery.datetimepicker.full.js"></script>
<script type="text/javascript">
	$(function(){
		$( "#id_create_alert_tab" ).trigger( "click" );		
	});

    var events = <%- JSON.stringify(listEvent) %>;
	var map;
	var markersMap = [];
	var troyes = {lat: 48.2973451, lng: 4.0744009};

	function initMap() {
		map = new google.maps.Map(document.getElementById('map'), {
		    zoom: 8,
		    center: troyes,
		    mapTypeId: google.maps.MapTypeId.TERRAIN
		});

	    for (var i=0; i<events.length; i++) {
	    	var latlngStr = events[i].place.split(";",2);
	    	var lat = parseFloat(latlngStr[0]);
	    	var lng = parseFloat(latlngStr[1]);

	    	addMarker({lat: lat, lng: lng});
	    }

	    for (var i = 0; i < markersMap.length; i++) {
			var marker = markersMap[i];
			google.maps.event.addListener(marker,'click', (function(marker,event){ 
			    return function() {
			    	var typesAlertHtml = "";
			    	for (var i in event.typesAlert) {
			    		typesAlertHtml += "<option>"+event.typesAlert[i].name+"</option>"
			    	}
			   
			    	var eventHtml = "<table class=\"table table-user-information\"><tbody><tr><td>Titre : </td><td>"+event.title+"</td></tr><tr><td>Description:</td><td>"+event.description+"</td></tr><tr><td>Date:</td><td>"+event.date+"</td></tr><tr hidden><td>Lieu:</td><td class=\"place\">"+event.place+"</td></tr></tbody></table>";
			        $("#event_content").html(eventHtml);
			        $("#event").val(event.id); 
			        $("#type").html(typesAlertHtml); 
			    };
			})(marker,events[i]));  
		}
	}

	function addMarker(location) {
	  	marker = new google.maps.Marker({
	    	position: location,
	    	map: map
	  	});
		markersMap.push(marker);
	}

	google.maps.event.addDomListener(window, 'load', initMap);

	/* Mask DateTimePicker */
	$('#datetimepicker_mask').datetimepicker({
		mask:'9999/19/39 29:59'
	});
</script>