<!DOCTYPE html>

<html>
    <head>
        <title>Citizen</title>
        <link href="/styles/background.css" rel="stylesheet">
        <link href="/styles/bootstrap.css" rel="stylesheet">
        <link rel='stylesheet prefetch' href='http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css'>
        <link rel="stylesheet" type="text/css" href="/styles/table-filters.css"/>
        <script src="/js/jquery.js"></script>
    </head>

    <body>
        <%- partial('../navbar-top.ejs', {type_user: 'citizen'}) %>

        <script src="/js/bootstrap.js"></script>
        <script src="http://mymaplist.com/js/vendor/TweenLite.min.js"></script>
        <script type="text/javascript" src="/js/background.js"></script>
        <script src="/js/table-filters.js"></script>
    </body>
</html>