<div class="tab-pane" id="sent-mail">
    <ul class="list-group">
        <li class="list-group-item">
            <div class="row">
                <div class="col-md-12">
                    <div>
                        <a href="#">Subject</a>
                        <div class="mic-info">
                            Par: <a href="#">Auteur</a> le <a href="#">Date</a>
                        </div>
                    </div>
                    <div class="comment-text">
                        Message
                    </div>
                    <div class="action">
                        <button type="button" class="btn btn-primary btn-xs" title="Edit">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </button>
                        <button type="button" class="btn btn-success btn-xs" title="Approved">
                            <span class="glyphicon glyphicon-ok"></span>
                        </button>
                        <button type="button" class="btn btn-danger btn-xs" title="Delete">
                            <span class="glyphicon glyphicon-trash"></span>
                        </button>
                    </div>
                </div>
            </div>
        </li>                                        
        <li class="list-group-item">
            <div class="row">
                <div class="col-md-12">
                    <div>
                        <a href="#">Subject</a>
                        <div class="mic-info">
                            Par: <a href="#">Auteur</a> le <a href="#">Date</a>
                        </div>
                    </div>
                    <div class="comment-text">
                        Message
                    </div>
                    <div class="action">
                        <button type="button" class="btn btn-primary btn-xs" title="Edit">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </button>
                        <button type="button" class="btn btn-success btn-xs" title="Approved">
                            <span class="glyphicon glyphicon-ok"></span>
                        </button>
                        <button type="button" class="btn btn-danger btn-xs" title="Delete">
                            <span class="glyphicon glyphicon-trash"></span>
                        </button>
                    </div>
                </div>
            </div>
        </li>    
    </ul>
</div>