<div id="trash" class="tab-pane">
    <div id="option_checkall_trash" class="option">
        <label><input id="checkall_trash" type="checkbox"/> Tous</label>
    </div>
    <div class="option">
        <a id="btn_remove_trash" href="#" class="glyphicon glyphicon-trash"></a>
    </div>
    <table id="table-trash-box" class="table table-trash-box table-bordered">
        <tbody>
        </tbody>
    </table>
</div>
<script type="text/javascript">
    $(document).ready(function(){
        $("#option_checkall_trash").click(function () {
            if ($("#checkall_trash").is(':checked')) {
                $(".table-trash-box input[type=checkbox]").each(function () {
                    $(this).prop("checked", true);
                });
            } else {
                $(".table-trash-box input[type=checkbox]").each(function () {
                    $(this).prop("checked", false);
                });
            }
        });
    });

    $("#btn_remove_trash").click(function(){
        $(".table-trash-box input[type=checkbox]").each(function () {
            if ($(this).is(':checked')) {
                var elem = $(this).parent().parent();
                $(this).parent().parent().remove();
            }
        });
    });
</script>