 <li class="list-group-item">
    <div class="row">
        <div class="col-xs-10 col-md-12">
            <div>
                <div class="mic-info">
                    De: <a href="#">Test</a> le 10/10/1212
                </div>
            </div>
            <div class="comment-text">
                Contenu
            </div>
        </div>
    </div>
</li>