<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Admin</title>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/styles/admin.css">
    <link rel="stylesheet" type="text/css" href="/styles/morris.css">
    <link rel="stylesheet" type="text/css" href="/styles/listes.css">
    <style type="text/css">
        .dual-list .list-group {
            margin-top: 8px;
        }

        .list-left li, .list-right li {
            cursor: pointer;
        }

        .list-arrows {
            padding-top: 100px;
        }

        .list-arrows button {
            margin-bottom: 20px;
        }
    </style>
</head>

<body>
    <div id="wrapper">
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Admin</a>
            </div>
            <% include ../navbar-top.ejs %>
            <% include ../navbar-left.ejs %>
        </nav>
        <div id="page-wrapper">
            <div class="container" style="margin-left:0px;">
                <div class="row">
                    <h1 class="page-header">Droits d'utilisateur</h1>
                </div>
                <div class="row">
                    <div class="container">
                        <br />
                        <div class="row">

                            <div class="dual-list list-left col-md-5">
                                <b><center>Organisateurs</center></b>
                                <div class="well text-right">
                                    <div class="row">
                                        <div class="col-md-10">
                                            <div class="input-group">
                                                <span class="input-group-addon glyphicon glyphicon-search"></span>
                                                <input type="text" name="SearchDualList" class="form-control" placeholder="search" />
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="btn-group">
                                                <a class="btn btn-default selector" title="select all"><i class="glyphicon glyphicon-unchecked"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <ul class="list-group">
                                        <% for ( var i=0; i<users.length; i++ ) {
                                            if ( users[i].type == 'o' ) {%>
                                                <li id="<%- users[i].id %>" class="list-group-item"><%- users[i].username %></li>
                                            <%}
                                        }%>
                                    </ul>
                                </div>
                            </div>

                            <div class="list-arrows col-md-1 text-center">
                                <button class="btn btn-default btn-sm move-left">
                                    <span class="glyphicon glyphicon-chevron-left"></span>
                                </button>

                                <button class="btn btn-default btn-sm move-right">
                                    <span class="glyphicon glyphicon-chevron-right"></span>
                                </button>
                            </div>

                            <div class="dual-list list-right col-md-5">
                                <b><center>Citoyens</center></b>
                                <div class="well">
                                    <div class="row">
                                        <div class="col-md-2">
                                            <div class="btn-group">
                                                <a class="btn btn-default selector" title="select all"><i class="glyphicon glyphicon-unchecked"></i></a>
                                            </div>
                                        </div>
                                        <div class="col-md-10">
                                            <div class="input-group">
                                                <input type="text" name="SearchDualList" class="form-control" placeholder="search" />
                                                <span class="input-group-addon glyphicon glyphicon-search"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <ul class="list-group">
                                        <% for ( var i=0; i<users.length; i++ ) {
                                            if ( users[i].type == 'c' ) {%>
                                                <li id="<%- users[i].id %>" class="list-group-item"><%- users[i].username %></li>
                                            <%}
                                        }%>                                    
                                    </ul>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/metisMenu.min.js"></script>
<script type="text/javascript" src="/js/admin.js"></script>
<script type="text/javascript">
    $(function () {
        $('body').on('click', '.list-group .list-group-item', function () {
            $(this).toggleClass('active');
        });
        $('.list-arrows button').click(function () {
            var $button = $(this), actives = '';
            if ($button.hasClass('move-left')) {
                var listActive = $('.list-right ul li.active');
                for (var i=0; i<listActive.length; i++) {
                    var params = "id="+listActive[i].id+"&type=o"
                    $.ajax({
                        type: 'POST',
                        url: '/user/update',
                        data: params,
                    });
                }                actives = $('.list-right ul li.active');
                actives.clone().appendTo('.list-left ul');
                actives.remove();
            } else if ($button.hasClass('move-right')) {
                var listActive = $('.list-left ul li.active');
                for (var i=0; i<listActive.length; i++) {
                    var params = "id="+listActive[i].id+"&type=c"
                    $.ajax({
                        type: 'POST',
                        url: '/user/update',
                        data: params,
                    });
                }

                actives = $('.list-left ul li.active');
                actives.clone().appendTo('.list-right ul');
                actives.remove();
            }
        });
        $('.dual-list .selector').click(function () {
            var $checkBox = $(this);
            if (!$checkBox.hasClass('selected')) {
                $checkBox.addClass('selected').closest('.well').find('ul li:not(.active)').addClass('active');
                $checkBox.children('i').removeClass('glyphicon-unchecked').addClass('glyphicon-check');
            } else {
                $checkBox.removeClass('selected').closest('.well').find('ul li.active').removeClass('active');
                $checkBox.children('i').removeClass('glyphicon-check').addClass('glyphicon-unchecked');
            }
        });
        $('[name="SearchDualList"]').keyup(function (e) {
            var code = e.keyCode || e.which;
            if (code == '9') return;
            if (code == '27') $(this).val(null);
            var $rows = $(this).closest('.dual-list').find('.list-group li');
            var val = $.trim($(this).val()).replace(/ +/g, ' ').toLowerCase();
            $rows.show().filter(function () {
                var text = $(this).text().replace(/\s+/g, ' ').toLowerCase();
                return !~text.indexOf(val);
            }).hide();
        });

    });
</script>