<div class="modal" id="modal-alerts" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="width:100%">
    <div class="modal-dialog" style="width:100%">
        <div class="modal-content">
            <div class="modal-body">
                <div class="panel panel-primary filterable">
                    <div class="panel-heading">
                        <h3 class="panel-title">Alertes</h3>
                        <div class="pull-right" style="margin-top:-6px">
                            <span style="margin-top:-25px" class="btn btn-default btn-xs btn-filter"><span class="glyphicon glyphicon-filter"></span> Filter</span>
                        </div>
                    </div>
                    <table class="table table-hover table-striped table-bordered" id="table_alert">
                        <thead>
                            <tr class="filters">
                                <th><input type="text" class="form-control" placeholder="Type" disabled></th>
                                <th><input type="text" class="form-control" placeholder="Auteur" disabled></th>
                                <th><input type="text" class="form-control" placeholder="Details" disabled></th>
                                <th><input type="text" class="form-control" placeholder="Place" disabled></th>
                                <th>User access</th>
                            </tr>
                        </thead>
                        <tbody id="alerts">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>  